@font-face {
  font-family: Geologica;
  src: url(Geologica-VariableFont_CRSV,SHRP,slnt,wght.ttf);
}

* {
  padding: 0;
  margin: 0;
}

/* colors */
:root {
}

body, html, #app {eco brutalism colors
  height: 100%;
  width: 100%;
  font-family: Geologica, sans-serif;
  color: var(--bg);
}

